/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

ul{
    list-style-type: none;
}

.width{
    width: 70%;
}

.backWhite{
    background-color: white;
}

.grey{
    background-color: rgba(246,246,246,255);
}

.fs08{
    font-size: 0.8em;
}

.colWhite{
    color: white;
}

.fs2_5{
    font-size: 2.5em;
}

.colBlack{
    color: black;
}

.backBlack{
    background-color: black;
}

#secondBlock h1, #secondBlock p, #containerSection4 > h2, #containerSection4 > p{
    text-align: center;
}

h2{
    font-size: 2em;
}

.mt30{
    margin-top: 30px;
}

.tac{
    text-align: center;
}

.backBlue{
    background-color: rgba(141,160,224,255);
}

.colBlue{
    color: rgba(116,140,223,255);
}

.mt10{
    margin-top: 10px;
}

.mr10{
    margin-right: 10px;
}

.fs06{
    font-size: 0.6em;
}

.mt5{
    margin-top: 5px;
}
/* Header */
header{
    background-image: url("img/discord-assets/jumbo.png");
    background-size: cover;
}
/* NavBar */
#navContainer{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navContainer > div{
    display: flex;
    padding: 5px;
}

.logoLogin{
    width: 25%;
}

#link{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#link > ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo > img{
    width: 40%;
}

.btnSmall{
    padding: 5px 10px;
    border-radius: 15px;
}
/* Second Block Header */
#secondBlock{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlock > div{
    width: 40%;
}

#secondBlock p {
    margin: 30px 0;
}

#btnContainer > div{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.btnBig{
    padding: 10px 15px;
    border-radius: 20px;
}

#btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btnContainer i{
    margin-right: 5px;
}
/* Main */
.section{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section > div{
    display: flex;
}

.item{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.description{
    width: 30%;
    padding: 30px 10px;
}

#containerSection4{
    display: block;
}

.item > img{
    width: 70%;
}

.description > h2{
    text-align: left;
}

#containerSection4 > img{
    width: 90%;
}

#imgContainer{
    display: flex;
    justify-content: center;
}

#h3container > h3{
    display: inline-block;
    background-image: url("img/discord-assets/stars.svg");
    padding: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

#h3container{
    display: flex;
    justify-content: center;
}

#btnDownload{
    display: inline-block;
}

#btnDownloadContainer{
    display: flex;
    justify-content: center;
}

#btnDownload > i{
    margin-right: 5px;
}
/* Footer */
footer{
    background-color: rgba(35,39,42,255);
}
/* First Block Footer */
#firstBlockFooter{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstBlockFooter > div{
    display: flex;
}

#section1{
    width: 30%;
    padding: 0 50px;
}

#section2{
    width: 70%;
    display: flex;
}

.column{
    width: 25%;
    border: 1px solid black;
}

#section1 img{
    width: 20px;
}
/* Second Block Footer */
#secondBlockFooter{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlockFooter > div{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid rgba(246,246,246,255);
}

.btn{
    width: 25%;
    padding: 5px 0;
}

.btn > img{
    width: 40%;
}

#registrati{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}