/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

ul{
    list-style-type: none;
}

.width{
    width: 70%;
}

.backWhite{
    background-color: white;
}

.grey{
    background-color: rgba(210,210,210,255);
}

.fs08{
    font-size: 0.8em;
}

.colWhite{
    color: white;
}

.fs2_5{
    font-size: 2.5em;
}

.colBlack{
    color: black;
}

.backBlack{
    background-color: black;
}
/* Header */
header{
    background-image: url("img/discord-assets/jumbo.png");
    background-size: cover;
}
/* NavBar */
#navContainer{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navContainer > div{
    display: flex;
    padding: 5px;
}

.logoLogin{
    width: 25%;
}

#link{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#link > ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#logo > img{
    width: 40%;
}

.btnSmall{
    padding: 5px 10px;
    border-radius: 15px;
}
/* Second Block Header */
#secondBlock{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlock > div{
    width: 40%;
}

#secondBlock h1, #secondBlock p{
    text-align: center;
}

#secondBlock p {
    margin: 30px 0;
}

#btnContainer > div{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.btnBig{
    padding: 10px 15px;
    border-radius: 20px;
}

#btnContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#btnContainer i{
    margin-right: 5px;
}
/* Main */
.section{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section > div{
    display: flex;
}

.azzurro{
    height: 300px;
    width: 60%;
    background-color: rgba(30,145,255,255);
}

.pink{
    height: 300px;
    width: 40%;
    background-color: rgba(255,201,213,255);
}

#containerSection4{
    height: 500px;
    background-color: rgba(34,139,34,255);
}
/* Footer */
footer{
    background-color: rgba(35,39,42,255);
}
/* First Block Footer */
#firstBlockFooter{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstBlockFooter > div{
    display: flex;
}

#section1{
    height: 300px;
    width: 30%;
    background-color: rgba(240,128,128,255);
}

#section2{
    width: 70%;
    display: flex;
}

.column{
    height: 300px;
    width: 25%;
    background-color: rgba(32,160,154,255);
    border: 1px solid black;
}
/* Second Block Footer */
#secondBlockFooter{
    border-top: 3px solid rgba(210,210,210,255);
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#secondBlockFooter > div{
    background-color: rgba(124,236,206,255);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.btn{
    background-color: rgba(210,210,210,255);
    display: inline-block;
    padding: 5px;
}